@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Realizado por: Equipo alfa buena maravilla onda dinámita escuadrón lobo</p>
</div>
